language: ruby

bundler_args: --without production development

#uncomment when we start to use jasmine
#script: bundle exec rake spec jasmine:ci
script: bundle exec rake spec

#before_install:
  #- "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1280x1024x16"
  #- "export DISPLAY=:99.0"
  #- "export JASMINE_BROWSER=firefox"

before_script:
  - "cp config/database.yml.example config/database.yml 2>&1"
  - "bundle exec rake db:drop db:create db:schema:load --trace 2>&1"

rvm:
  - 1.9.3
  - 1.9.2
  #- ruby-head    # will cause timeout

matrix:
  include:
    - rvm: jruby-19mode
      jdk: openjdk7
      env: TIMEOUT=1000
    - rvm: jruby-head
      jdk: openjdk7
      env: TIMEOUT=1000
  # jruby alwyas fails by unknown causes.
  allow_failures:
    - rvm: jruby-19mode
      jdk: openjdk7
      env: TIMEOUT=1000
    - rvm: jruby-head
      jdk: openjdk7
      env: TIMEOUT=1000
