# http://about.travis-ci.org/docs/user/build-configuration/
language: ruby

bundler_args: '--without production development -j8'

script: bundle exec rake travis:script

before_install:
  - "phantomjs --version"
  - "cat /etc/timezone"
  - "grep -i processor /proc/cpuinfo | wc -l"
  - "echo 'gem: --no-ri --no-rdoc' > ~/.gemrc"
  - "gem install bundler --pre"
  - "bundle -v"

before_script:
  - "bundle exec rake travis:before_script"

env:
  matrix:
    - DATABASE=pg
    - DATABASE=mysql2
    #- DATABASE=sqlite3

rvm:
  #- 1.9.3
  - 2.0.0
  #- ruby-head    # will cause timeout
