/* Sticky Footer
 *  http://www.cssstickyfooter.com/using-sticky-footer-code.html
 */
@mixin sticky_footer {
  html, body {
    height: 100%;
  }
  #wrap {
    min-height: 100%;
  }
  #main {
    overflow: auto;
    padding-bottom: 145px;
    padding-top: 64px;
  }
  #header {
    min-height: 48px;
    margin-bottom: -64px;
  }
  #footer {
    position: relative;
    clear: both;
    min-height: 65px;
    margin-top: -145px;
  }
  /*Opera Fix*/
  body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;
  }
}
