# -*- yaml -*-
defaults: &defaults
  time_zone: 'Beijing'
  default_locale: 'zh-CN'

  # Used to generate URL in the email. Must be the same of the domain of the
  # server.
  # e.g.
  # host: '19wu.herokuapp.com'
  host: '19wu.com'

  # Used to generate event location map automaticlly with Baidu Map API.
  # You can request your access key from http://lbsyun.baidu.com/apiconsole/key
  # By default, with an empty string, this feature will be disabled.
  baidumap_ak: ''

  alipay:
    pid: 2083528375739838
    key: vwg38dk375fsagth3449flaldjhsdoek
    seller_email: admin@example.com

  sms:
    tui3:
      username: 'saberma'
      password: '666666'

  email: &email
    # Edit according to the smtp account domain.
    # e.g.
    #
    # from: '19wu staging <19wu@19wu.mailgun.org>'
    from: '19wu <support@19wu.com>'

    exception_recipients:
      - 'mahb45@gmail.com'

    delivery_method: :smtp

    smtp_settings:
      # Sendgrid
      user_name: '19wu'
      password: '666666'
      domain: '19wu.com'
      address: 'smtp.sendgrid.net'
      port: 587
      authentication: :plain
      enable_starttls_auto: true

      # Gmail example
      # port: 587
      # address: 'smtp.gmail.com'
      # domain: 'gmail.com'
      # user_name: '19wu.mailer@gmail.com'
      # password: 'secret'
      # authentication: 'plain'
      # enable_starttls_auto: true

      # Mailgun Example
      # port: 587
      # address: 'smtp.mailgun.org'
      # user_name: 'postmaster@19wu.mailgun.org'
      # password: 'secret'
      # domain: '19wu.mailgun.org'
      # authentication: :plain

    # settings for delivery_method 'sendmail'
    sendmail_settings:
      location: /usr/sbin/sendmail
      arguments: '-i -t'

development:
  <<: *defaults
  host: 'localhost:3000'

  sms: []
  email:
    <<: *email
    from: '19wu <development@19wu.com>'
    delivery_method: :file

test:
  <<: *defaults
  time_zone: 'Beijing'
  default_locale: 'zh-CN'
  host: 'localhost:3000'

  sms: []
  email:
    <<: *email
    from: 'test@19wu.com'
    delivery_method: :test

production:
  <<: *defaults

  # Generate a secret setting for production and do not share it in public repo
  #
  # The token must be at least 30 characters, otherwise the default on in
  # config/initializers/secret_token.rb is used.
  #
  # The option `secret_key_base` is for Rails 4. Set it and keep the original
  # `secret_token` setting.
  #
  # secret_token: ''
  # secret_key_base: ''
