form {
  &.form-full-width {
    .uneditable-input,
    select,
    textarea,
    input {
      @include input-block-level;
    }
    /* override radio and checkbox */
    input[type="radio"],
    input[type="checkbox"] {
      display: inline-block;
      width: auto;
      min-height: auto;
    }
    .btn {
      @extend .btn-block;
    }
  }

}

.form-actions > .btn {
  margin-right: 5px;
}

.compound-datetime {
  select {
    width: auto;
  }
  > .date {
    margin-bottom: $baseLineHeight / 4;
    margin-right: 5px;
    > .add-on {
      margin-top: 1px;
    }
  }
  > .time {
    > .time-min {
      margin-right: 5px;
    }
    > select {
      margin-bottom: $baseLineHeight / 8;
    }
  }
}
