form {
  &.form-full-width {
    .uneditable-input,
    select,
    textarea,
    input {
      @include input-block-level;
    }
    /* override radio and checkbox */
    input[type="radio"],
    input[type="checkbox"] {
      display: inline-block;
      width: auto;
      min-height: auto;
    }
    .btn {
      @extend .btn-block;
    }
    .input-large {
      min-height: $baseLineHeight * 2;
      height: $baseLineHeight * 2;
    }
    .btn-large {
      padding: 9px 19px; // http://git.io/D9i_5g
    }
  }
}

label.required abbr {
  color: #CC0000;
}

/* fix the left margin when apply the span* classes */
.compound-controls {
  margin-left: 0;
}

.form-actions > .btn {
  margin-right: 5px;
}

.compound_datetime {
  @include clearfix;
  .date {
    float: left;
  }
  .time {
    float: left;
    margin-left: 15px;
  }
  .datepicker {
    width: 6em;
  }
  .timepicker {
    width: 6em;
    margin-top: 1px;
  }
  .add-on {
    margin-top: 1px;
  }
}

.uploadable-input {
  margin: 0;
}

.uploadable {

  .nav.nav-tabs{
    margin-bottom: 8px;
  }

  .preview-pane {
    border: 1px solid #cccccc;
    border-bottom: 1px dashed #DDD;
  }

  .preview-hint {
    display: none;
  }

  textarea {
    border-bottom: 1px dashed #DDD;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    resize: vertical;
  }

  .upload-panel {
    margin: 0;
    padding: 7px 10px;
    color: #AAA;
    height: 16px;
    line-height: 16px;
    background-color: #FAFAFA;
    border: 1px solid #CCC;
    border-top: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    .manual-file-chooser {
      position: absolute;
      width: 120px;
      margin-left: -12px;
      opacity: 0;
      cursor: pointer;
    }

    .uploading {
      display: none;
    }
  }

  .upload-panel.focused {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6));
  }
}

