ul, ol {
  &.horizontal {
    @extend .unstyled;
    @include clearfix;
    > li {
      float: left;
    }
  }
  &.unstyled > li {
    margin-bottom: $baseLineHeight / 4;
  }
}

.list {
  .item {
    margin-bottom: $baseLineHeight / 2;
  }
  .avatar-wrapper {
    line-height: 0;
    float: left;
    margin-top: 4px;
    margin-right: 10px;
    padding: 1px;
    border: 1px solid $grayBackground;
  }
  .gravatar {
    width: 50px;
    height: 50px;
  }
}
