// topic index item
.topics-nav {
  @extend .nav, .nav-tabs;
  margin: $baseLineHeight*4 0 $baseLineHeight/2 0;
}

.topic-item {
  @extend .media;
  margin-bottom: 0 !important;
  padding: $baseLineHeight/2 0;
  border-bottom: 1px solid #DDD
}
.topic-item-avatar {
  @extend .pull-left;
  margin-right: 8px;
}
.topic-item-title {
  @extend .media-heading;
  margin-bottom: 3px;
}
.topic-item-info {
  @extend .muted;
  font-size: 12px;
}
.replies-count {
  @extend .pull-right, .badge, .badge-info;
  margin: 10px 10px 0 0;
}


//topic show
.topic-body {
  margin-bottom: $baseLineHeight * 2;
}

//reply
.reply-form {
  margin-top: $baseLineHeight * 2;
}
.reply-item {
  @extend .topic-item;
}
.reply-item-avatar {
  @extend .topic-item-avatar;
}
.reply-body {
  margin-left: 56px;
  margin-top: 3px;
}
