// topic index item
.topics-nav {
  @extend .nav, .nav-tabs;
  margin: $baseLineHeight*4 0 $baseLineHeight/2 0;
}

.topic-item {
  @extend .media;
  margin-bottom: 0 !important;
  padding: $baseLineHeight/2 0;
  border-bottom: 1px solid #DDD
}
.topic-item-avatar {
  @extend .pull-left;
  margin-right: 8px;
}
.topic-item-title {
  @extend .media-heading;
  margin-bottom: 3px;
}
.topic-item-info {
  @extend .muted;
  font-size: 12px;
}
.replies-count {
  margin: 10px 10px 0 0;
  text-align: right;
  vertical-align: middle;
  span {
    background-color: #08C;
    border-radius: 3px 3px 3px 3px;
    color: #FFF;
    display: inline-block;
    font-weight: bold;
    line-height: 14px;
    padding: 3px 7px;
    text-decoration: none;
  }
}


//topic show
.topic-body {
  margin-bottom: $baseLineHeight * 2;
}

//reply
.reply-form {
  margin-top: $baseLineHeight * 2;
}
.reply-item {
  @extend .topic-item;
}
.reply-item-avatar {
  @extend .topic-item-avatar;
}
.reply-body {
  margin-left: 56px;
  margin-top: 3px;
}
