.uploadable-input {
  margin: 0;
}

.uploadable-nav {
  @extend .nav, .nav-tabs;
  margin-bottom: 8px;
}

.preview-pane {
  border: 1px solid #cccccc;
  border-bottom: 1px dashed #DDD;
}

.previews {
  margin: $baseLineHeight/2;
}

.preview-hint {
  display: none;
}

textarea.uploadable {
  margin-bottom: 0;
  border-bottom: 1px dashed #DDD;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  resize: vertical;
}

.upload-panel {
  margin: 0;
  padding: 7px 10px;
  color: #AAA;
  height: 16px;
  line-height: 16px;
  background-color: #FAFAFA;
  border: 1px solid #CCC;
  border-top: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  .manual-file-chooser {
    position: absolute;
    width: 120px;
    margin-left: -12px;
    opacity: 0;
    cursor: pointer;
  }

  .uploading {
    display: none;
  }
}

.upload-panel.focused {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6));
}
