.user-bar {
  @extend .horizontal;
  margin: 0;
  li {
    margin-right: 5px;
    line-height: $navbarHeight;
    > .btn {
      margin-top: 0;
    }
  }
  a {
    color: $grayDarker;
  }
  .gravatar{
    margin-right: 5px;
  }
}
