#content {
  padding: 2 * $baseLineHeight 0;
}

#footer {
  padding: 2 * $baseLineHeight 0;
}

#flash {
  margin-top: $baseLineHeight;
}

@media (max-width: 767px) {
  #footer {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -20px;
    margin-right: -20px;
  }
  .navbar-static-top .container {
    width: auto;
  }
}
