.signed_out {
  .navbar-inner {
    @include box-shadow(none);
    border-width: 0;
    background: $bodyBackground;
  }
}

#footer {
  background: $grayBackground;
}

#footer:after {
  background: $grayBackground;
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
}
