p 非常感谢您申请注册19屋，以下为注册邀请链接

p = link_to accept_invitation_url(@resource, :invitation_token => @resource.invitation_token), accept_invitation_url(@resource, :invitation_token => @resource.invitation_token), title: '接受邀请'

p 19屋是一个活动平台，专注于为组织者提供便利的活动发布、推广、售票等免费服务。现在您可以在19屋进行发布活动，签到等操作。

p
  |如需帮助，请发邮件到
  = link_to 'mahb45@gmail.com', 'mailto:mahb45@gmail.com'

p 19屋 saberma
br

p ---
a href='http://19wu.com' http://19wu.com
br
a href='https://github.com/19wu/19wu' https://github.com/19wu/19wu
