p
  | #{@resource.email} 您好，
p 您可以通过下面的链接修改帐号密码:
p= link_to '修改密码', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
p 如果您没有提出修改密码的请求，请忽略些邮件。
p 除非点击上面的链接并设置新的密码，您的密码不会被更改。
